flyway.url=jdbc:postgresql://${AWS_RDS_STYX_NLP_DB_ENDPOINT}:5432/${AWS_RDS_STYX_NLP_DB_TEST}
flyway.user=${AWS_RDS_STYX_NLP_DB_USER_TEST}
flyway.password=${AWS_RDS_STYX_NLP_DB_PASS_TEST}
flyway.locations=filesystem:/flyway/sql