REVOKE ALL PRIVILEGES ON ALL TABLES IN SCHEMA public FROM ${DB_USER};
REVOKE ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public FROM ${DB_USER};

GRANT CONNECT ON DATABASE ${POSTGRES_DB} TO ${DB_USER};
GRANT SELECT, INSERT, UPDATE ON ALL TABLES IN SCHEMA public TO ${DB_USER};
GRANT USAGE ON ALL SEQUENCES IN SCHEMA public TO ${DB_USER};
